#!/bin/bash

#set -e

phase="$2"

if [[ "${phase}" == "post-start" ]]; then
	sleep 30
	qm guest exec {{ next_vm_id }} -- /usr/bin/hostnamectl set-hostname {{ node_hostname }}
	qm guest exec {{ next_vm_id }} -- systemctl restart systemd-networkd
fi
