{{ shebang }}

#set -e

phase="$2"

if [[ "${phase}" == "post-start" ]]; then
	while ! qm guest exec {{ next_vm_id }} -- sudo hostnamectl set-hostname {{ node_hostname }}; do
		echo waiting for hostnamectl succeed
		sleep 1
	done

	qm guest exec {{ next_vm_id }} -- sudo systemctl restart systemd-networkd
fi
